/* .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 600px;

    position: relative;
    padding: 1rem;
    gap: 15px;
}

.slider h3{
    margin: 0;
}

.container{
    position: relative;

    display: flex;
    align-items: center;
    width: 650px;
    height: 420px;
    border-radius: 1rem;

    box-shadow: rgb(38, 57, 77) 0px 15px 30px -10px;
}

.current-image{
    border-radius: .6rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: all .2s;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    z-index: 999;
    cursor: pointer;
    transition: all .2s;
}

.arrow:hover{
    transform: scale(1.3);
}

.arrow-left{
    left: 2rem;
}

.arrow-right{
    right: 2rem;
}

.circle-indicators{
    width: 100%;
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3rem;
}

.current-indicator{
    background-color: #353535;
    margin: 0 0.2rem;
    width: 40px;
    height: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    
    transition: all .2s;
}

.hide-current-image{
    display: none;
}



.inactive-indicator{
    background-color: rgb(189, 189, 189);
    transform: scale(.65);
    width: 15px;
    height:20px;
    border-radius: 50%;
}
 */
